@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
main.card{
    background-color: hsl(216, 50%, 16%);
    margin: 100px auto;
    max-width:min-content;
    border-radius: 1rem;
}
img.eth-img{
    width: 300px;
    padding: 1.2rem;
    border-radius: 1.5rem;
}
h1.title{
    color: #fff;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.2rem;
}
p.text{
    color: #fff;
    padding-left: 1.2rem;
    font-weight: 300;
    opacity: 0.5;
}
p.date{
    color: #fff;
    padding-left: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
}
p.price{
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 0.9rem;
}
p.creator{
    padding-left: 1rem;
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
}
p.date{
    padding: 0;
    opacity: 0.5;
    font-weight: 400;
}
a:link{
    color: #fff;
    text-decoration: none;
    opacity: none;
}
a:visited{
    color: #fff;
}
a:hover{
    color: hsl(178, 100%, 50%) ;
}
.cr-autor{
    opacity: 0.5;
}
section.pr-dt{
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.2rem;
    justify-content: space-between;
}
hr{
    border: hsl(215, 32%, 27%) solid 1px;
    margin: 1.2rem;
}
.ava{
    width: 2rem;
    height: 2rem;
    border: #fff solid 2px;
    border-radius: 50%;
}
.cr{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.item{
    display: flex;
}
img.clock{
    
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }